@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

html,body{background:#EAEAEA;margin:0;}

#header {
background-color: black;
color: lightgray;
height: 100px;
}

a {color:#484848;text-decoration:none;}

#main_subtitle{float: left; color: #484848; margin-left:7.5px; margin-top:0px;letter-spacing:2px;font-size:13px;}

#title{font-size:36px;font-weight:bold;color:#84B23B;margin-left:7.5px;margin-top:20px;margin-bottom: 0;float:left;}

#header_firstname { font-family: Lato; font-weight:400;}
#header_lastname { font-family: Lato; font-weight:900;}

#navlist { list-style: none outside none; float: right; margin-top: 0; margin-bottom: 7.5px; margin-right: 7.5px;}
#navitem { float: left; margin-left: 20px; letter-spacing:2px;font-size:13px;}

.content{color:#484848;background-color:#EAEAEA;font:13px/1.4 Lato,sans-serif;letter-spacing:1px;width:960px;margin:auto;padding-bottom:100px;overflow:hidden;}

#portfolio_boxes  { margin-top: 18px;}
#portfolio_boxes ul { list-style: none outside none; padding-left: 0; margin-top: 0px; margin-left: 0px;}
#portfolio_boxes ul li { float: left; margin: 7.5px; overflow:hidden;}
#portfolio_boxes ul li a img { width: 225px; height: 180px; border-style: none;}

#portfolio_boxes ul li a .desc { display: none; }

#portfolio_boxes ul li a:hover .desc {
  background: none repeat scroll 0 0 rgba(72,72,72,0.85);
  display: block;
  color: #EAEAEA;
  font-size: 12pt;
  font-weight: 900;
  letter-spacing:2px;
  margin: 0;
  margin-top: -184px;
  padding: 10px;
  position: absolute;
  width: 205px;
  height: 160px;
  text-align:center;
}

#galleria  { margin-top: 18px;}


#project_bodydiv {
	padding: 7.5px;	
	overflow: hidden;
}

h2 { margin-bottom: 0px; }
h3 { margin-top: 10px; }

#project_description { width: 565px; margin-top: 25px; }

.cred{font-size:10px; float:right; margin-right:7.5px; color: #484848; display:none;}
